<!-- 
#############################################################
    Display random quote + source, no formatting.
#############################################################
-->
<script>
    var quote=new Array();
    var source=new Array();

    {{ range $i, $quote := getCSV "|" "quotes.csv"  }}
      {{ $q := split (index . 0) "|" }}
      {{ $s := split (index . 1) "|" }}
      quote[{{ $i }}] = {{ $q }}; 
      source[{{ $i }}] = {{ $s }};
    {{ end }}

    index = Math.floor(Math.random() * quote.length);
    document.write(quote[index] + "<br />" + source[index]);
</script>

