{{/* 
##############################
# Display quotes from csv file
##############################
See also: 

    /layouts/shortcodes/quote.html
    /assets/scss/custom.scss
   
##############################
## Requirement
##############################
Include front-matter in your target page:
    ---
    quote: 
      style: 2
      display: true
      heading: "Quote of the Day"
    ---

##############################
### Front-matter description
##############################
    style: integer 
      * 1 = Random quote + source separated by a single space, no other formatting, no title.
      * 2 = Title, text and source in separate <div> with class names for CSS.
    
    display: bool 
      * true = display
      * false = hide
    
    heading: string
      * Text to display above quote.
    
##############################
## Use
##############################
As a Page Partial in layouts:

    {{ partial "quotes/quote.html" . }}
 
    See example: /layouts/partions/widgets/about.html
*/}}

{{ $ := .root }}
{{ $page := .page }}
{{ $qstyle := $page.Params.quote.style | default 1 }}
{{ $qdisplay := $page.Params.quote.display | default false }}
{{ $qheading := $page.Params.quote.heading | default "" }}

{{if eq $qdisplay true}}
    {{if eq $qstyle 1}}
        {{ partial "quotes/quotestyle1.html" . }}
    {{end}}
    {{if eq $qstyle 2}}
      {{ partial "quotes/quotestyle2.html" $qheading }}   
    {{end}}
{{end}}
