.qheading {
    font-size: 1.25rem;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.qtext {
    color:#1565c0; 
    font-family: 'PT Sans', sans-serif; 
    font-weight: 400; 
    line-height: 1.25; 
    font-size:.8rem; 
}

.qsource {
    color:#1565c0; 
    font-weight:bold; 
    font-size:.8rem; 
    font-style: italic;
    text-indent: 2rem;
    line-height: 2.5; 
}
