.quote_heading {
    font-size: 1.25rem;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.quote_text {
    color:#1565c0; 
    font-family: 'PT Sans', sans-serif; 
    font-weight: 400; 
    line-height: 1.25; 
    font-size:.8rem; 
    text-align: center;
}

.quote_source {
    color:#1565c0; 
    font-weight:bold; 
    font-size:.8rem; 
    font-style: italic;
    line-height: 2.5; 
    padding-bottom: 1rem;
    text-align: center;
}
.article-tags {
    margin-top: 0.2rem;
}
/*
.random_quote {
    padding-left: 1rem;
    padding-right: 1rem;    
}
*/
