{{/* 
##############################
# Display quotes from csv file
##############################
See also: 

    /layouts/partials/quotes/quote.html
    /assets/scss/custom.scss

##############################
## Use
##############################
Include the shortcode in your Markdown post, document, etc. The shortcode allows two parameters: style and heading.

    {{% quote [style] [heading] %}}

    style: integer 
      * 1 = No formatting.
            Random quote + source separated by a single space, no other formatting, no title.
      * 2 = Default value if not supplied. 
            Formatted title, text and source in separate <div> with class names for CSS.
        
    heading: string
      * Optional title to display above quote.
    
*/}}

{{ $qstyle := .Get 0 | default 2 }}
{{ $qheading := .Get 1 | default "" }}

{{if eq $qstyle 1}}
  {{ partial "quotes/quotestyle1.html" . }}
{{end}}
{{if eq $qstyle 2}}
  {{ partial "quotes/quotestyle2.html" $qheading }}   
{{end}}
